<div id="login">
  <div id="alerts"></div>
  <form id="login" role="form">
    <div class="form-group">
      <label for="username" >Username</label>
      <input class="form-control" type="text" id="username" placeholder="your username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" class="form-control" placeholder="your secret password">
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit" id="login">Login</button>
    </div>
  </form>
</div>